In [16]:
import pandas as pd

# Ruta del archivo de clima
ruta_clima = r"C:\Users\valdi\Downloads\weather_data_nyc_centralpark_2016-2017 - weather_data_nyc_centralpark_2016.csv"
# Ruta del archivo de ventas de NYC
ruta_ventas = r"C:\Users\valdi\Downloads\nyc-rolling-sales-cured.csv"
# Ruta de salida
ruta_salida = r"C:\Users\valdi\Downloads\\"
nombre_archivo_combinado = "datos_combinados.csv"

# 1. Carga y preparación del archivo de clima
try:
    df_clima = pd.read_csv(ruta_clima)
    df_clima['date'] = pd.to_datetime(df_clima['date'], format='%d/%m/%Y')
    df_clima['standard_date'] = df_clima['date'].dt.strftime('%d-%m-%Y')
    df_clima = df_clima.drop(columns=['date'])
    print("--- DataFrame de clima preparado ---")
    print(df_clima.head())
except FileNotFoundError:
    print(f"Error: No se encontró el archivo en la ruta: {ruta_clima}")
    exit()

# 2. Carga y preparación del archivo de ventas de NYC
try:
    df_ventas = pd.read_csv(ruta_ventas)
    df_ventas['SALE DATE'] = pd.to_datetime(df_ventas['SALE DATE'], format='mixed')
    df_ventas['standard_date'] = df_ventas['SALE DATE'].dt.strftime('%d-%m-%Y')
    # Conservamos la columna original 'SALE DATE' para la verificación
    print("--- DataFrame de ventas preparado ---")
    print(df_ventas[['SALE DATE', 'standard_date']].head())
except FileNotFoundError:
    print(f"Error: No se encontró el archivo en la ruta: {ruta_ventas}")
    exit()

# 3. Combinación de los DataFrames
df_combinado = pd.merge(df_ventas, df_clima, on='standard_date', how='left')

print("\n--- DataFrame combinado (primeras filas) ---")
print(df_combinado.head())
print("\n--- Información del DataFrame combinado ---")
print(df_combinado.info())

# 4. Verificación de la combinación basada en fechas originales (primeros 20 resultados)
print("\n--- Verificación de la combinación (primeros 20 resultados) ---")
print(df_combinado[['SALE DATE', 'standard_date', 'max_temp_celsius', 'season']].head(20))

# 5. Eliminación de la columna 'standard_date' (ya usada para la combinación)
df_combinado = df_combinado.drop(columns=['standard_date'])

# 6. Guardar el DataFrame combinado
ruta_archivo_salida = ruta_salida + nombre_archivo_combinado
try:
    df_combinado.to_csv(ruta_archivo_salida, index=False)
    print(f"\nArchivo combinado guardado exitosamente en: {ruta_archivo_salida}")
except Exception as e:
    print(f"Error al guardar el archivo combinado: {e}")

--- DataFrame de clima preparado ---
  max_temp_celsius min_temp_celsius avg_temp_celsius  season standard_date
0             5,56             1,11             3,33  winter    01-01-2016
1             4,44             0,00             2,22  winter    02-01-2016
2             7,22             1,67             4,44  winter    03-01-2016
3             2,22           -10,00            -3,89  winter    04-01-2016
4            -1,67           -11,67            -6,67  winter    05-01-2016

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_39012\1168463705.py:25: DtypeWarning: Columns (4,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ventas = pd.read_csv(ruta_ventas)

--- DataFrame de ventas preparado ---
   SALE DATE standard_date
0 2017-03-10    10-03-2017
1 2017-02-03    03-02-2017
2 2016-12-13    13-12-2016
3 2017-03-21    21-03-2017
4 2017-06-16    16-06-2017

--- DataFrame combinado (primeras filas) ---
   Unnamed: 0  BOROUGH    NEIGHBORHOOD  BUILDING CLASS CATEGORY  \
0        6569        4     FLORAL PARK  01 ONE FAMILY DWELLINGS
1       19250        4  QUEENS VILLAGE  01 ONE FAMILY DWELLINGS
2       12250        4        GLENDALE  01 ONE FAMILY DWELLINGS
3        7067        4  FLUSHING-NORTH  01 ONE FAMILY DWELLINGS
4        1692        4         BAYSIDE  01 ONE FAMILY DWELLINGS

  TAX CLASS AT PRESENT  BLOCK  LOT  EASE-MENT BUILDING CLASS AT PRESENT  \
0                    1   8805   71        NaN                        A0
1                    1   7955  333        NaN                        A0
2                    1   3683   39        NaN                        A0
3                    1   5490   20        NaN                        A0
4                    1   7310   31        NaN                        A0

              ADDRESS  ... YEAR BUILT  TAX CLASS AT TIME OF SALE  \
0    85-50 263 STREET  ...       1945                          1
1  86-20 239TH STREET  ...       1940                          1
2   71-60 69TH STREET  ...       1925                          1
3     4725 160 STREET  ...       1920                          1
4  45-40 211TH STREET  ...       1910                          1

   BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE standard_date  \
0                              A0           - 2017-03-10    10-03-2017
1                              A0           - 2017-02-03    03-02-2017
2                              A0      410000 2016-12-13    13-12-2016
3                              A0           - 2017-03-21    21-03-2017
4                              A0           - 2017-06-16    16-06-2017

  max_temp_celsius  min_temp_celsius  avg_temp_celsius  season
0              8,3              -5,0               1,7  winter
1              0,6              -3,3              -1,4  winter
2             6,11              1,67              3,89  autumn
3             15,0               5,6              10,3  winter
4             20,0              17,2              18,6  spring

[5 rows x 27 columns]

--- Información del DataFrame combinado ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            83810 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       0 non-null      float64
 8   BUILDING CLASS AT PRESENT       83810 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                19052 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84547 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  datetime64[ns]
 22  standard_date                   84548 non-null  object
 23  max_temp_celsius                84548 non-null  object
 24  min_temp_celsius                84548 non-null  object
 25  avg_temp_celsius                84548 non-null  object
 26  season                          84548 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(10), object(15)
memory usage: 17.4+ MB
None

--- Verificación de la combinación (primeros 20 resultados) ---
    SALE DATE standard_date max_temp_celsius  season
0  2017-03-10    10-03-2017              8,3  winter
1  2017-02-03    03-02-2017              0,6  winter
2  2016-12-13    13-12-2016             6,11  autumn
3  2017-03-21    21-03-2017             15,0  winter
4  2017-06-16    16-06-2017             20,0  spring
5  2017-03-31    31-03-2017              6,1  spring
6  2017-05-24    24-05-2017             20,6  spring
7  2017-07-11    11-07-2017             29,4  summer
8  2017-01-13    13-01-2017             16,7  winter
9  2017-08-07    07-08-2017             21,7  summer
10 2017-02-13    13-02-2017              3,9  winter
11 2016-11-11    11-11-2016            17,22  autumn
12 2017-03-06    06-03-2017              7,2  winter
13 2016-12-27    27-12-2016            15,56  winter
14 2017-07-06    06-07-2017             25,0  summer
15 2016-12-08    08-12-2016             7,22  autumn
16 2016-09-01    01-09-2016            26,11  summer
17 2016-09-10    10-09-2016            32,22  summer
18 2017-04-13    13-04-2017             18,3  spring
19 2016-09-15    15-09-2016            23,33  summer

Archivo combinado guardado exitosamente en: C:\Users\valdi\Downloads\\datos_combinados.csv